# Python System Files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# ML & Data Files (Bunlar GitHub'a gitmez, kullanıcı kendi üretir)
data/
models/
reports/

# MLOps (MLflow verileri çok yer kaplar, gitmemeli)
mlruns/
.trash/

# IDE Settings
.vscode/
.idea/